@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900);


@font-face {
  font-family: icomoon;
  font-display: swap;
  src: url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?kvaiyr");
  src: url("fonts/icomoon.eot?kvaiyr#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?kvaiyr") format("truetype"), url("fonts/icomoon.woff?kvaiyr") format("woff"), url("fonts/icomoon.svg?kvaiyr#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow-left:before {
  content: "\e907";
  font-weight: 600;
  font-size: 40px;
}

._icon-map-icon .path1:before {
  content: "\e905";
  color: rgb(33, 33, 33);
}

._icon-map-icon .path2:before {
  content: "\e906";
  margin-left: -0.900390625em;
  color: rgb(255, 255, 255);
}

._icon-arrow-right:before {
  content: "\e903";
  font-weight: 600;
  font-size: 40px;
}

._icon-copy:before {
  content: "\e904";
  color: #3C59F0;
}

._icon-chevron-down:before {
  content: "\e902";
}

._icon-arrowicon:before {
  content: "\e900";
  font-size: 28px;
  font-weight: 600;
  pointer-events: none;
}


/*---------------------------*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1A1A1A;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

/*---------------------------*/

.wrapper {
  min-height: 100%;
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;*/
  overflow: hidden;  
  width: 100%;
}

/*  .wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
} 

.wrapper > * {
  min-width: 0;
} */

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__title {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
}

.tabs__title._tab-active {
  border: 1px solid #000;
}

.tabs__content {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  border-radius: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn a {
  width: 100%;
  font-weight: 600;
  text-align: left;
  display: block;
}

.btn img {
  display: block;
}

.btn-blue {
  padding: 20px 40px;
  border-radius: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3C59F0;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.btn-blue:hover {
  background: #fff;
  border: 1px solid #3C59F0;
  color: #3C59F0;
}

.btn-blue a {
  width: 100%;
  text-align: left;
  font-weight: 600;
  display: block;
}

.btn-blue img {
  display: block;
}

.input {
  background-color: #1A1A1A;
  border: 1px solid #F3F3F3;
  border-radius: 4.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #4A4A4A;
}

.input:focus {
  border-color: #fff;
  color: #fff;
}

.contact-item__input:focus {
  color: #3C59F0;
}

.text {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}

.title {
  font-weight: 700;
  line-height: 66px;
}

@supports (font-size: clamp( 2.25rem , 1.8409090909rem  +  2.0454545455vw , 3.375rem )) {
  .title {
    font-size: clamp( 2.25rem , 1.8409090909rem  +  2.0454545455vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.8409090909rem  +  2.0454545455vw , 3.375rem )) {
  .title {
    font-size: calc(2.25rem + 1.125 * (100vw - 20rem) / 55);
  }
}

.hidden {
  display: none;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.header {
  z-index: 2;
  color: #fff;
}

.header__box {
  max-width: 1440px;
  height: 104px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26.2% 58.8% 15%;
  grid-template-columns: 26.2% 58.8% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-left: clamp( 0.625rem , -1.1940298507rem  +  4.8507462687vw , 4.6875rem )) {
  .header__logo {
    padding-left: clamp( 0.625rem , -1.1940298507rem  +  4.8507462687vw , 4.6875rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -1.1940298507rem  +  4.8507462687vw , 4.6875rem )) {
  .header__logo {
    padding-left: calc(0.625rem + 4.0625 * (100vw - 37.5rem) / 83.75);
  }
}

.header__logo-text {
  width: 9.5625rem;
  margin-left: 0.875rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4375rem;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  border-radius: 32px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 1rem 1.125rem;
  gap: 12px;
}

.header__btns-btn {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #94A3EC;
}

.header__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-column-align: end;
      justify-self: end;
  gap: 4.375rem;
}

.header__nav-item {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.header__btns-btn--active {
  color: #fff;
}

.footer {
  background-color: #1A1A1A;
}

.footer__box {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .footer__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .footer__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .footer__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .footer__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 4.375rem , 3.3977272727rem  +  4.8863636364vw , 7.0625rem )) {
  .footer__box {
    padding-bottom: clamp( 4.375rem , 3.3977272727rem  +  4.8863636364vw , 7.0625rem );
  }
}

@supports not (padding-bottom: clamp( 4.375rem , 3.3977272727rem  +  4.8863636364vw , 7.0625rem )) {
  .footer__box {
    padding-bottom: calc(4.375rem + 2.6875 * (100vw - 20rem) / 55);
  }
}

.footer__form {
  padding-bottom: 7.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4A4A4A;
}

@supports (gap: clamp( 1.875rem , -5.2875rem  +  19.1vw , 13.8125rem )) {
  .footer__form {
    gap: clamp( 1.875rem , -5.2875rem  +  19.1vw , 13.8125rem );
  }
}

@supports not (gap: clamp( 1.875rem , -5.2875rem  +  19.1vw , 13.8125rem )) {
  .footer__form {
    gap: calc(1.875rem + 11.9375 * (100vw - 37.5rem) / 62.5);
  }
}

.footer__form-text {
  max-width: 547px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1875rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 60%;
          flex: 1 60%;
}

.footer__form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 40%;
          flex: 1 40%;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  position: relative;
}

.footer__form-input input {
  width: 100%;
  padding: 1.8125rem 0 1.8125rem 2.5rem;
}

.footer__form-btn {
  position: absolute;
  top: 25px;
  right: 32px;
}

.footer__content {
  margin-top: 82px;
  margin-bottom: 116px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 56% 31.8% auto;
  grid-template-columns: 56% 31.8% auto;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo-text {
  width: 12.75rem;
  margin-left: 1.5625rem;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.1875rem;
}

.footer__logo-img {
  width: 5.6875rem;
}

.footer__logo-img img {
  width: 100%;
}

.footer__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.footer__list-item {
  margin-bottom: 1.5rem;
}

.footer__list-info {
  margin-bottom: 10px;
  color: #4A4A4A;
}

.footer__btns {
  width: 101px;
  height: 58px;
  border: 1px solid #4A4A4A;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  -ms-grid-column-align: end;
      justify-self: end;
}

.footer__btns-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.footer__btn-main {
  width: 100%;
  padding: 24px 40px;
  background-color: #3C59F0;
  font-size: 24px;
  line-height: 29px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.footer__btn-main:hover {
  background: #fff;
  border: 1px solid #3C59F0;
  color: #3C59F0;
}

.main {
  background: -webkit-gradient(linear, left top, left bottom, from(#3C59F0), color-stop(68.13%, #A9B6F7), to(#FFE895));
  background: -o-linear-gradient(top, #3C59F0 0%, #A9B6F7 68.13%, #FFE895 100%);
  background: linear-gradient(180deg, #3C59F0 0%, #A9B6F7 68.13%, #FFE895 100%);
  margin-top: -104px;
  color: #fff;
}

.main__box {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 166px;
  padding-bottom: 160px;
  overflow: hidden;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .main__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .main__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .main__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .main__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

.main__title {
  font-weight: 800;
  margin: 62px 0 28px;
  text-transform: uppercase;
}

@supports (font-size: clamp( 3.375rem , 1.9204545455rem  +  7.2727272727vw , 7.375rem )) {
  .main__title {
    font-size: clamp( 3.375rem , 1.9204545455rem  +  7.2727272727vw , 7.375rem );
  }
}

@supports not (font-size: clamp( 3.375rem , 1.9204545455rem  +  7.2727272727vw , 7.375rem )) {
  .main__title {
    font-size: calc(3.375rem + 4 * (100vw - 20rem) / 55);
  }
}

@supports (line-height: clamp( 4.125rem , 2.3522727273rem  +  8.8636363636vw , 9rem )) {
  .main__title {
    line-height: clamp( 4.125rem , 2.3522727273rem  +  8.8636363636vw , 9rem );
  }
}

@supports not (line-height: clamp( 4.125rem , 2.3522727273rem  +  8.8636363636vw , 9rem )) {
  .main__title {
    line-height: calc(4.125rem + 4.875 * (100vw - 20rem) / 55);
  }
}

.main__content {
  max-width: 1296px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.main__info {
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
  display: -ms-grid;
  display: grid;
}

.main__info-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
}

.main__info-btn {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: start;
  padding: 1.6875rem 2.5rem;
  background-color: #1A1A1A;
}

.main__info-btn:hover {
  background: #F6F6FC;
  color: #3C59F0;
}

.main__info-btn a {
  font-size: 1.625rem;
  line-height: 2rem;
}

.main__img {
  max-width: 609px;
  margin-top: 6.875rem;
  margin-left: -114px;
}

.main__img img {
  width: 100%;
  opacity: 0.2;
}

.info {
  margin-top: -37px;
  background: #F6F6FC;
  border-radius: 40px 40px 0px 0px;
}

.info__box {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 500;
  line-height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .info__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .info__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .info__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .info__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-top: clamp( 4rem , 1.2954545455rem  +  13.5227272727vw , 11.4375rem )) {
  .info__box {
    padding-top: clamp( 4rem , 1.2954545455rem  +  13.5227272727vw , 11.4375rem );
  }
}

@supports not (padding-top: clamp( 4rem , 1.2954545455rem  +  13.5227272727vw , 11.4375rem )) {
  .info__box {
    padding-top: calc(4rem + 7.4375 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 5.375rem , 2.7159090909rem  +  13.2954545455vw , 12.6875rem )) {
  .info__box {
    padding-bottom: clamp( 5.375rem , 2.7159090909rem  +  13.2954545455vw , 12.6875rem );
  }
}

@supports not (padding-bottom: clamp( 5.375rem , 2.7159090909rem  +  13.2954545455vw , 12.6875rem )) {
  .info__box {
    padding-bottom: calc(5.375rem + 7.3125 * (100vw - 20rem) / 55);
  }
}

@supports (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .info__box {
    font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8181818182rem  +  0.9090909091vw , 1.5rem )) {
  .info__box {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 55);
  }
}

.info__name-title {
  max-width: 636px;
  margin-bottom: 56px;
  font-weight: 800;
}

@supports (font-size: clamp( 2.25rem , 1.8409090909rem  +  2.0454545455vw , 3.375rem )) {
  .info__name-title {
    font-size: clamp( 2.25rem , 1.8409090909rem  +  2.0454545455vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 2.25rem , 1.8409090909rem  +  2.0454545455vw , 3.375rem )) {
  .info__name-title {
    font-size: calc(2.25rem + 1.125 * (100vw - 20rem) / 55);
  }
}

@supports (line-height: clamp( 2.75rem , 2.25rem  +  2.5vw , 4.125rem )) {
  .info__name-title {
    line-height: clamp( 2.75rem , 2.25rem  +  2.5vw , 4.125rem );
  }
}

@supports not (line-height: clamp( 2.75rem , 2.25rem  +  2.5vw , 4.125rem )) {
  .info__name-title {
    line-height: calc(2.75rem + 1.375 * (100vw - 20rem) / 55);
  }
}

.info__about {
  max-width: 526px;
}

.info__about-btn {
  width: 100%;
  margin-top: 64px;
}

.partners {
  background-color: #1A1A1A;
}

.partners__box {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
  padding-top: 83px;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .partners__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .partners__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .partners__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .partners__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

.partners__list {
  margin-top: 64px;
  padding-bottom: 124px;
  display: -ms-grid;
  display: grid;
  gap: 24px;
/*  -ms-grid-columns: (minmax(200px, 636px))[2]; */
  grid-template-columns: repeat(2, minmax(200px, 636px));
  border-bottom: 1px solid #4A4A4A;
}

.partners__list-item {
  height: 245px;
  width: 100%;
}

.partners__list-btn {
  padding: 20px 40px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-color: #fff;
  color: #1A1A1A;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.partners__list-btn:hover {
  background: #1A1A1A;
  border: 1px solid #fff;
  color: #fff;
}

.item-list {
  max-width: 636px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid #A9A9A9;
  border-radius: 24px;
  padding: 40px 0 40px 40px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.item-list:hover {
  background-color: #fff;
  color: #1A1A1A;
  -webkit-box-shadow: 3px 3px 5px 2px rgba(238, 241, 243, 0.2);
          box-shadow: 3px 3px 5px 2px rgba(238, 241, 243, 0.2);
}

.item-list:hover .item-list-place::before {
  content: "";
  background-image: url("../img/map-blk.svg");
  width: 18px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.item-list-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.item-list-place {
  position: relative;
  padding-left: 22px;
  margin-top: 12px;
}

.item-list-place::before {
  content: "";
  background-image: url("../img/map-pin.svg");
  width: 18px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.cars {
  background-color: #1A1A1A;
}

.cars__box {
  max-width: 1440px;
  margin: 0 auto;
  color: #fff;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .cars__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .cars__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .cars__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .cars__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-top: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem )) {
  .cars__box {
    padding-top: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem );
  }
}

@supports not (padding-top: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem )) {
  .cars__box {
    padding-top: calc(4rem + 6.25 * (100vw - 20rem) / 55);
  }
}

.cars__title {
  max-width: 924px;
  margin-bottom: 56px;
}

.car {
  padding: 56px 0;
  border-top: 1px solid #4A4A4A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.car__content {
  max-width: 347px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.car__title {
  font-weight: 600;
  line-height: 49px;
}

@supports (font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem )) {
  .car__title {
    font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.1363636364rem  +  1.8181818182vw , 2.5rem )) {
  .car__title {
    font-size: calc(1.5rem + 1 * (100vw - 20rem) / 55);
  }
}

.car__img {
  max-width: 635px;
  -webkit-box-flex: 0;
      -ms-flex: 0 59.4%;
          flex: 0 59.4%;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.car__img img {
  width: 100%;
}

.car__img:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.why__box {
  max-width: 1440px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .why__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .why__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .why__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .why__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-top: clamp( 4rem , 2.6363636364rem  +  6.8181818182vw , 7.75rem )) {
  .why__box {
    padding-top: clamp( 4rem , 2.6363636364rem  +  6.8181818182vw , 7.75rem );
  }
}

@supports not (padding-top: clamp( 4rem , 2.6363636364rem  +  6.8181818182vw , 7.75rem )) {
  .why__box {
    padding-top: calc(4rem + 3.75 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem )) {
  .why__box {
    padding-bottom: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem );
  }
}

@supports not (padding-bottom: clamp( 4rem , 1.7272727273rem  +  11.3636363636vw , 10.25rem )) {
  .why__box {
    padding-bottom: calc(4rem + 6.25 * (100vw - 20rem) / 55);
  }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem )) or (column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem ))) {
  .why__box {
    -webkit-column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem );
       -moz-column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem );
            column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem )) or (column-gap: clamp( 1.25rem , -1.3409090909rem  +  12.9545454545vw , 8.375rem ))) {
  .why__box {
    -webkit-column-gap: calc(1.25rem + 7.125 * (100vw - 20rem) / 55);
       -moz-column-gap: calc(1.25rem + 7.125 * (100vw - 20rem) / 55);
            column-gap: calc(1.25rem + 7.125 * (100vw - 20rem) / 55);
  }
}

.why__title {
  max-width: 636px;
}

.why__text {
  max-width: 526px;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.why__btn {
  height: 80px;
  -ms-flex-item-align: end;
  -ms-grid-row-align: end;
  align-self: end;
}

.why__img {
  max-width: 100%;
  height: 100%;
}

.why__img img {
  width: 100%;
}

.join__box {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 164px;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .join__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .join__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .join__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .join__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 4rem , 2.0681818182rem  +  9.6590909091vw , 9.3125rem )) {
  .join__box {
    padding-bottom: clamp( 4rem , 2.0681818182rem  +  9.6590909091vw , 9.3125rem );
  }
}

@supports not (padding-bottom: clamp( 4rem , 2.0681818182rem  +  9.6590909091vw , 9.3125rem )) {
  .join__box {
    padding-bottom: calc(4rem + 5.3125 * (100vw - 20rem) / 55);
  }
}

.join__items {
  display: -ms-grid;
  display: grid;
  row-gap: 64px;
}

@supports (padding-top: clamp( 2.4375rem , 0.6875rem  +  8.75vw , 7.25rem )) {
  .join__items {
    padding-top: clamp( 2.4375rem , 0.6875rem  +  8.75vw , 7.25rem );
  }
}

@supports not (padding-top: clamp( 2.4375rem , 0.6875rem  +  8.75vw , 7.25rem )) {
  .join__items {
    padding-top: calc(2.4375rem + 4.8125 * (100vw - 20rem) / 55);
  }
}

.items-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto 42.5%;
  grid-template-columns: 10% auto 42.5%;
}

.items-item__number {
  font-weight: 500;
  font-size: 40px;
  line-height: 37px;
  color: #3C59F0;
}

.items-item__text {
  max-width: 526px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.items-item__text:first-child {
  margin-bottom: 0;
}

.items-item__text:hover {
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.items-item-btn {
  padding: 54px 26px 26px 40px;
  border: 1px solid #1A1A1A;
  border-radius: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.items-item-btn:hover {
  border: 1px solid #3C59F0;
  color: #3C59F0;
}

.items-item-btn a {
  width: 100%;
}

.progress__box {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 12px;
  overflow: hidden;
}

@supports (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .progress__box {
    padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .progress__box {
    padding-left: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .progress__box {
    padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 1.5rem , 0.4090909091rem  +  5.4545454545vw , 4.5rem )) {
  .progress__box {
    padding-right: calc(1.5rem + 3 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 5rem , 3.0909090909rem  +  9.5454545455vw , 10.25rem )) {
  .progress__box {
    padding-bottom: clamp( 5rem , 3.0909090909rem  +  9.5454545455vw , 10.25rem );
  }
}

@supports not (padding-bottom: clamp( 5rem , 3.0909090909rem  +  9.5454545455vw , 10.25rem )) {
  .progress__box {
    padding-bottom: calc(5rem + 5.25 * (100vw - 20rem) / 55);
  }
}

.progress__info {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress__title {
  max-width: 1440px;
}

.progress__wrapper {  
  margin-top: 50px;
  gap: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  -webkit-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
  transition: all ease 0.7s; 
}

@supports (width: clamp( 17.5rem , 11.9090909091rem  +  27.9545454545vw , 32.875rem )) {
  .progress__slide img {
    width: clamp( 17.5rem , 11.9090909091rem  +  27.9545454545vw , 32.875rem );
  }
}

@supports not (width: clamp( 17.5rem , 11.9090909091rem  +  27.9545454545vw , 32.875rem )) {
  .progress__slide img {
    width: calc(17.5rem + 15.375 * (100vw - 20rem) / 55);
  }
}

.progress__btn {
  width: 132px;
  height: 132px;
  border: 1px solid #1A1A1A;
  border-radius: 50%;
}

.progress__card {
  position: relative;
  float: left;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.donat {
  background-color: #1A1A1A;
}

.donat__box {
  max-width: 1440px;
  padding-top: 100px;
  margin: 0 auto;
  color: #fff;
}

@supports (padding-left: clamp( 0.5625rem , -0.8693181818rem  +  7.1590909091vw , 4.5rem )) {
  .donat__box {
    padding-left: clamp( 0.5625rem , -0.8693181818rem  +  7.1590909091vw , 4.5rem );
  }
}

@supports not (padding-left: clamp( 0.5625rem , -0.8693181818rem  +  7.1590909091vw , 4.5rem )) {
  .donat__box {
    padding-left: calc(0.5625rem + 3.9375 * (100vw - 20rem) / 55);
  }
}

@supports (padding-right: clamp( 0.5625rem , -0.8693181818rem  +  7.1590909091vw , 4.5rem )) {
  .donat__box {
    padding-right: clamp( 0.5625rem , -0.8693181818rem  +  7.1590909091vw , 4.5rem );
  }
}

@supports not (padding-right: clamp( 0.5625rem , -0.8693181818rem  +  7.1590909091vw , 4.5rem )) {
  .donat__box {
    padding-right: calc(0.5625rem + 3.9375 * (100vw - 20rem) / 55);
  }
}

@supports (padding-bottom: clamp( 4rem , 2.6363636364rem  +  6.8181818182vw , 7.75rem )) {
  .donat__box {
    padding-bottom: clamp( 4rem , 2.6363636364rem  +  6.8181818182vw , 7.75rem );
  }
}

@supports not (padding-bottom: clamp( 4rem , 2.6363636364rem  +  6.8181818182vw , 7.75rem )) {
  .donat__box {
    padding-bottom: calc(4rem + 3.75 * (100vw - 20rem) / 55);
  }
}

.donat-tabs__navigation {
  width: 100%;
  display: -ms-grid;
  display: grid;
  
  grid-template-columns: repeat(3, minmax(200px, 382px));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 29px;
}

@supports (gap: clamp( 0.0000000625rem , -1.6363635511rem  +  8.1818180682vw , 4.5rem )) {
  .donat-tabs__navigation {
    gap: clamp( 0.0000000625rem , -1.6363635511rem  +  8.1818180682vw , 4.5rem );
  }
}

@supports not (gap: clamp( 0.0000000625rem , -1.6363635511rem  +  8.1818180682vw , 4.5rem )) {
  .donat-tabs__navigation {
    gap: calc(0.0000000625rem + 4.4999999375 * (100vw - 20rem) / 55);
  }
}

.donat-tabs__title {
  margin-bottom: 80px;
  padding: 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4A4A4A;
  border-radius: 64px;
  font-weight: 600;
  font-size: 24px;
}

.tab {
  margin-top: 80px;
}

.tab__card {
  padding: 41px 48px 39px;
  border: 1px solid #4A4A4A;
  border-radius: 24px;
}

.tab__card-label {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.tab__card-btn {
  width: 100%;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.tab__btn {
  width: 100%;
  margin-top: 40px;
  padding: 30px 40px;
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.tab__btn:hover {
  background: #F6F6FC;
  color: #1A1A1A;
}

.tab__mono-btn {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 40px;
  border: 1px solid #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.tab__mono-btn:hover {
  background-color: #fff;
  color: #1A1A1A;
}

.card-sum {
  max-width: 658px;
}

.card-sum__donat {
  margin-top: 16px;
}

.card-sum__btns {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-sum__btn {
  width: 210px;
  padding: 20px 0;
  border: 1px solid #4A4A4A;
  border-radius: 72px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.card-sum__btn:hover {
  border-color: #fff;
}

.card-sum__btn:active {
  background: #fff;
  color: #1A1A1A;
}

.card-sum__input {
  position: relative;
  margin-bottom: 12px;
}

.card-sum input {
  width: 100%;
  padding: 22px 0 22px 44px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  border: 1px solid #4A4A4A;
}

.card-mail {
  max-width: 1121px;
  margin: 16px 0 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
}

.card-mail input {
  width: 100%;
  padding: 26px 44px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #4A4A4A;
}

.card-mail-text {
  max-width: 417px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.sum__input {
  position: absolute;
  top: 0;
  right: 0;
}

.sum__input-title {
  width: 156px;
  font-family: "Montserrat";
  padding: 26px 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  border: 1px solid #4A4A4A;
  cursor: pointer;
  background-color: #1A1A1A;
  color: #fff;
  position: relative;
}

.sum__input-title--active {
  color: #fff;
  border-color: #fff;
}

.sum__input-icon {
  position: absolute;
  top: 31px;
  right: 28px;
  pointer-events: none;
}

.sum__valuta {
  margin-top: 2px;
  padding: 26px 0;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 24px;
  background-color: #1A1A1A;
  overflow: hidden;
}

.sum__valuta-item {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  color: #4A4A4A;
}

.sum__valuta-item:last-child {
  margin-bottom: 0;
}

.sum__valuta-item:hover {
  color: #3C59F0;
}

.dropdown {
  width: 156px;
  position: relative;
}

.dropdown__item-hidden {
  display: none;
}

.hidden {
  display: none;
}

.arrow-open {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.invoice {
  margin-bottom: 40px;
}

.invoice-title {
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.list-item {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
}

.list-item-title {
  margin-right: 10px;
  font-weight: 600;
}

.list-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.bank {
  margin-right: 40px;
}

._icon-copy {
  margin-left: 40px;
}

._tab-active {
  background-color: #fff;
  color: #1A1A1A;
}

.contact-form {
  padding: 82px 38px 77px;
  background-color: #1A1A1A;
}

.contact-form__box {
  max-width: 1363px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  background-color: #fff;
  border-radius: 16px;
}

@supports (padding-left: clamp( 9.375rem , -0.9375rem  +  20.625vw , 19.6875rem )) {
  .contact-form__box {
    padding-left: clamp( 9.375rem , -0.9375rem  +  20.625vw , 19.6875rem );
  }
}

@supports not (padding-left: clamp( 9.375rem , -0.9375rem  +  20.625vw , 19.6875rem )) {
  .contact-form__box {
    padding-left: calc(9.375rem + 10.3125 * (100vw - 50rem) / 50);
  }
}

@supports (padding-right: clamp( 9.375rem , -0.9375rem  +  20.625vw , 19.6875rem )) {
  .contact-form__box {
    padding-right: clamp( 9.375rem , -0.9375rem  +  20.625vw , 19.6875rem );
  }
}

@supports not (padding-right: clamp( 9.375rem , -0.9375rem  +  20.625vw , 19.6875rem )) {
  .contact-form__box {
    padding-right: calc(9.375rem + 10.3125 * (100vw - 50rem) / 50);
  }
}

.contact-form__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}

.contact-form__content {
  margin-top: 56px;
}

.contact-form__btn {
  width: 100%;
  margin-top: 16px;
  padding: 26.5px 0;
  background: #3C59F0;
  border-radius: 72px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contact-form__btn:hover {
  background: #fff;
  border: 1px solid #3C59F0;
  color: #3C59F0;
}

.contact-item__input {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 24px;
  padding: 30px 44px;
  background-color: #fff;
  border: 1px solid #1A1A1A;
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #A9A9A9;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__wrapper {
  max-width: 1076px;
  margin: 40px auto;
  padding: 178px 196px 88px 196px;
  background-color: #fff;
  border-radius: 24px;
  position: relative;
}

.modal__content {
  width: 100%;
  padding: 40px;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 50px;
  color: #1A1A1A;
  font-weight: 400;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__btn {
  width: 100%;
  margin-top: 90px;
}

.modal__btn a {
  width: 100%;
  font-size: 24px;
  line-height: 29px;
}

.modal__text {
  font-weight: 600;
  font-size: 28px;
  line-height: 37px;
}

.modal__text p {
  margin-bottom: 24px;
}

.modal__text p:last-child {
  margin-bottom: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}


.header-page {
  z-index: 2;
  color: #1A1A1A;
  background-color: #F6F6FC;
}

.header-page__box {
  max-width: 1440px;
  height: 104px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 26.2% 58.8% 15%;
  grid-template-columns: 26.2% 58.8% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #1A1A1A;
}

.header-page__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-left: clamp( 0.625rem , -1.1940298507rem  +  4.8507462687vw , 4.6875rem )) {
  .header-page__logo {
    padding-left: clamp( 0.625rem , -1.1940298507rem  +  4.8507462687vw , 4.6875rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -1.1940298507rem  +  4.8507462687vw , 4.6875rem )) {
  .header-page__logo {
    padding-left: calc(0.625rem + 4.0625 * (100vw - 37.5rem) / 83.75);
  }
}

.header-page__logo-text {
  width: 153px;
  margin-left: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
}

.header-page__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #1A1A1A;
  border-radius: 32px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 1rem 1.125rem;
  gap: 12px;
}

.header-page__btns-btn {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.header-page__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-column-align: end;
      justify-self: end;
  gap: 4.375rem;
}

.header-page__nav-item {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;
}

.header-page__btns-btn--active {
  color: #1A1A1A;
}

.vacancy {
  padding: 0 72px;
  background-color: #F6F6FC;
}

.vacancy__box {
  max-width: 1296px;
  margin: 0 auto;
  padding: 46px 0 126px;
}

.vacancy__btn {
  width: 90px;
  height: 90px;
  margin-bottom: 63px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #fff;
}

.vacancy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vacancy__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 56.4%;
          flex: 0 56.4%;
}

.vacancy__items-item {
  padding: 40px 40px 46px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 16px;
}

.vacancy__item {
  height: 232px;
  margin-bottom: 24px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.vacancy__item-name {
  max-width: 366px;
}

.vacancy__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.vacancy__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.vacancy__item-work {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
}

.vacancy__item-place {
  line-height: 28px;
  position: relative;
}

.vacancy__item-place::before {
  content: "";
  background-image: url("../img/map-blk.svg");
  width: 18px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -24px;
}

.vacancy__item:last-child {
  margin-bottom: 0;
}

.vacancy__item:hover {
  border-color: #3C59F0;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(144, 183, 237, 0.2);
          box-shadow: 4px 4px 8px 0px rgba(144, 183, 237, 0.2);
}

.vacancy__item:hover .vacancy__item-title {
  color: #3C59F0;
}

.partner {
  padding: 0 72px;
  background-color: #F6F6FC;
}

.partner__box {
  max-width: 1296px;
  margin: 0 auto;
  padding: 46px 0 126px;
}

.partner__btn {
  width: 90px;
  height: 90px;
  margin-bottom: 63px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #fff;
}

.partner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partner__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 57.56%;
          flex: 0 57.56%;
}

.partner__items-item {
  padding: 40px 40px 46px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 16px;
}

.partner__items-item:hover .partner__item-title {
  color: #3C59F0;
}

.partner__item {
  height: 232px;
  margin-bottom: 24px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.partner__item-hyundai {
  padding-left: 76px;
  position: relative;
}

.partner__item-hyundai::before {
  content: "";
  background-image: url("../img/hyundai.svg");
  width: 60px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

.partner__item-renault {
  padding-left: 46px;
  position: relative;
}

.partner__item-renault::before {
  content: "";
  background-image: url("../img/renault.svg");
  width: 30px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.partner__item-nissan {
  padding-left: 82px;
  position: relative;
}

.partner__item-nissan::before {
  content: "";
  background-image: url("../img/nissan_logo 1.svg");
  width: 62px;
  height: 48px;
  position: absolute;
  top: 0;
  left: 0;
}

.partner__item-ford {
  padding-left: 110px;
  position: relative;
}

.no-webp .partner__item-ford::before{
  background-image: url("../img/ford-logo.png"); }

.partner__item-ford::before {
  content: "";
  width: 94px;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.partner__item-skoda {
  padding-left: 77px;
  position: relative;
}

.no-webp .partner__item-skoda::before{
  background-image: url("../img/skoda_logo.png"); }

.partner__item-skoda::before {
  content: "";
  width: 55px;
  height: 55px;
  position: absolute;
  top: 0;
  left: 0;
}

.partner__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.partner__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.partner__item-work {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
}

.partner__item-place {
  position: relative;
  line-height: 28px;
}

.partner__item-place::before {
  content: "";
  background-image: url("../img/map-blk.svg");
  width: 18px;
  height: 20px;
  position: absolute;
  top: 0;
  left: -22px;
}

.partner__item:last-child {
  margin-bottom: 0;
}

.help {
  padding: 0 72px;
  background-color: #F6F6FC;
}

.help__box {
  max-width: 1296px;
  margin: 0 auto;
  padding: 46px 0 126px;
}

.help__btn {
  width: 90px;
  height: 90px;
  margin-bottom: 63px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: #fff;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 57.56%;
          flex: 0 57.56%;
}

.help__items-item {
  margin-bottom: 24px;
  padding: 40px 40px 46px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 16px;
}

.help__items-item:last-child {
  margin-bottom: 0;
}

.help__items-item:hover {
  border-color: #3C59F0;
}

.help__items-item:hover .help__item-title {
  color: #3C59F0;
}

.help__title {
  font-weight: 800;
}

.help__item-title {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: start;
}

.help__item-title p {
  max-width: 485px;
}

.help__item-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.help__item-text {
  margin-bottom: 16px;
}

.help__item-link {
  display: block;
  color: #3C59F0;
  line-height: 44px;
}

._spoller-active {
  color: #3C59F0;
}

._spoller-active span {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

@media (min-width: 121.25em) {
  .header__logo {
    padding-left: inherit;
  }

  .header-page__logo {
    padding-left: inherit;
  }
}

@media (min-width: 100em) {
  .footer__form {
    gap: inherit;
  }

  .contact-form__box {
    padding-left: inherit;
  }

  .contact-form__box {
    padding-right: inherit;
  }
}

@media (max-width: 50em) {
  .contact-form__box {
    padding-left: inherit;
  }

  .contact-form__box {
    padding-right: inherit;
  }
}

@media (max-width: 320px) {
  .info__name-title,
  .cars__title {
    font-weight: 600;
    font-size: 32px;
  }
}

@media (max-width: 47.99875em) {
  .header__logo {
    padding-left: 24px;
  }

  .header__logo-text {
    display: none;
  }

  .footer__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__lists {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main__content {
    display: block;
  }

  .main__img {
    margin-top: -50px;
  }

  .main__img img {
    margin-left: 170px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .main__title {
    margin-top: 0;
  }

  .main__info-text {
    margin-top: 33px;
    margin-bottom: 33px;
  }

  .info__box {
    gap: 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info__about-text {
    font-size: 16px;
    line-height: 24px;
  }

  .car {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .car__title {
    margin: 16px 0 36px;
  }

  .car__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 100%;
            flex: 0 100%;
  }

  .items-item {
    display: block;
  }

  .items-item__text {
    margin: 12px 0 24px;
  }

  .items-item-btn {
    width: 100%;
  }

  .donat-tabs__navigation {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .donat-tabs__title {
    width: 100%;
    margin-bottom: 24px;
  }

  .card-mail {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }

  .list-item {
    display: block;
  }

  .tab__card {
    padding: 28px 16px;
  }

  .modal__wrapper {
    max-width: 600px;
    padding: 70px;
  }

  .progress__slide {
    min-width: 280px;
  }

  .header-page__logo {
    padding-left: 24px;
  }

  .header-page__logo-text {
    display: none;
  }

  .help,
  .partner,
  .vacancy {
    padding: 0 24px;
  }

  .help__items,
  .partner__items,
  .vacancy__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 65%;
            flex: 0 65%;
  }

  .partner__items-item {
    padding: 25px 16px 25px 32px;
  }

  .help__items-item {
    padding: 22px 16px 25px;
  }
}

@media (max-width: 37.5em) {
  .header__logo {
    padding-left: inherit;
  }

  .footer__form {
    gap: inherit;
  }

  .header-page__logo {
    padding-left: inherit;
  }
}

@media (max-width: 29.99875em) {
  .header__box {
    -ms-grid-columns: 20% 50% 30%;
    grid-template-columns: 20% 50% 30%;
  }

  .avto {
    display: none;
  }

  .header__nav {
    margin-right: 15px;
  }

  .header__nav-item {
    padding: 12px 16px;
    background: #1A1A1A;
    border-radius: 56px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  .header__btns {
    margin-right: 24px;
    padding: 12px 16px;
  }

  .header__btns-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__box {
    padding-top: 0;
  }

  .footer__form {
    display: block;
    padding-bottom: 69px;
  }

  .footer__form-input {
    margin-top: 32px;
  }

  .footer__form-input input {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 24px;
  }

  .footer__content {
    display: block;
    margin-bottom: 44px;
  }

  .footer__logo {
    margin-bottom: 55px;
  }

  .footer__btn-main {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .footer__form-btn {
    top: 8px;
  }

  .title {
    line-height: 44px;
  }

  .main__info-btn a {
    font-size: 16px;
  }

  .main__info-btn {
    padding: 16px 24px;
  }

  .info__name-text {
    display: none;
  }

  .info__name-title {
    margin-bottom: 16px;
  }

  .info__about-btn {
    margin-top: 32px;
  }

  .partners__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .car__content {
    max-width: 430px;
  }

  .why__box {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .why__text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .why__btn {
    height: inherit;
    margin: 40px 0;
    padding: 18px 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .why__img{
      background-image: url("../img/why-back.png"); }
  .why__img {
    width: auto;
    height: 378px;
    margin: 0 24px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .why__img img {
    width: auto;
    display: none;
  }

  .join__box {
    margin-top: -300px;
  }

  .items-item-btn {
    padding: 16px 24px;
  }

  .progress__slider {
    height: 364px;
  }

  .progress__wrapper {
    height: 364px;
    width: 100%;
  }

  .progress__slide {
    height: 100%;
  }

  .progress__btn {
    border: none;
  }

  .donat-tabs__navigation {
    gap: 12px;
  }

  .donat-tabs__title {
    margin-bottom: 0;
    padding: 18px 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .donat-title {
    margin-top: 64px;
  }

  .tab__card {
    padding: 28px 16px;
  }

  .card-sum input {
    width: 100%;
    padding: 12px 28px;
    font-size: 25px;
    line-height: 30px;
  }

  .sum__input {
    width: 83px;
  }

  .sum__input-title {
    width: 83px;
    height: 56px;
    padding: 18px 12px;
    font-size: 14px;
    line-height: 17px;
  }

  .card-sum__btn {
    width: 111px;
    padding: 9.5px 0;
    font-size: 14px;
    line-height: 17px;
  }

  .sum__valuta {
    width: 83px;
  }

  .sum__valuta-item {
    font-size: 18px;
  }

  .card-mail input {
    padding: 12px 24px;
  }

  .card-mail-text {
    font-size: 12px;
    line-height: 15px;
  }

  .tab__card-btn {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .tab__btn {
    padding: 16px 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .tab__mono-btn {
    padding: 20px 30px;
    font-size: 20px;
  }

  .invoice-title {
    margin-top: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .list-item {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
  }

  .sum__input-icon {
    top: 20px;
    right: 85px;
  }

  .contact-form {
    padding-left: 9px;
    padding-right: 9px;
  }

  .contact-form__box {
    padding-left: 24px;
    padding-right: 24px;
  }

  .contact-form__title {
    font-size: 24px;
    line-height: 29px;
  }

  .contact-item__input {
    padding: 12px 20px;
  }

  .contact-form__btn {
    padding: 18px 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .modal__wrapper {
    max-width: 450px;
    padding: 50px 30px;
  }

  .modal__text {
    font-size: 20px;
    line-height: 26px;
  }

  .modal__btn a {
    font-size: 20px;
  }

  .header-page__box {
    -ms-grid-columns: 20% 50% 30%;
    grid-template-columns: 20% 50% 30%;
  }

  .avto {
    display: none;
  }

  .header__nav {
    margin-right: 15px;
  }

  .header__nav-item {
    padding: 12px 16px;
    background: #1A1A1A;
    border-radius: 56px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
  }

  .header-page__btns {
    margin-right: 24px;
    padding: 12px 16px;
  }

  .header__btns-btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  .vacancy__item {
    height: 159px;
  }

  .vacancy__item-work {
    font-size: 14px;
    line-height: 17px;
  }

  .vacancy__items-item {
    padding: 22px 16px 25px 16px;
  }

  .partner__item-work {
    display: none;
  }

  .partner__item-place,
  .vacancy__item-place,
  .partner__item-street,
  .vacancy__item-street {
    font-size: 14px;
    line-height: 20px;
  }

  .partner__items-item {
    height: 159px;
  }

  .partner__item-title,
  .vacancy__item-title {
    font-size: 16px;
  }

  .help__btn,
  .partner__btn,
  .vacancy__btn {
    display: none;
  }

  .partner__box,
  .help__box,
  .vacancy__box {
    padding-bottom: 80px;
  }

  .help__title,
  .partner__title,
  .vacancy__title {
    margin-bottom: 40px;
  }

  .help__content,
  .partner__content,
  .vacancy__content {
    display: block;
  }

  .help__item-title {
    font-size: 16px;
  }

  .help__item-info {
    font-size: 14px;
    line-height: 22px;
  }
}

.partner__item-ford::before { 
  background-image: url('../img/ford-logo.webp');
 }

.partner__item-skoda::before { 
  background-image: url('../img/skoda_logo.webp');
 }

@media (max-width: 29.99875em){

  .why__img{ background-image: url('../img/why-back.webp'); }
}